* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "VT323", sans-serif;
    font-size: 1.01em;
    --background-color: #252832;
}

.body {
    background-color: var(--background-color);
}

a {
    all: unset;
}

.App {
    background-color: var(--background-color);
}

@media (max-width: 1150px){
    *{
        font-size: 0.96em;
    }

    body {
        padding: 10px 10px 10px 0;
    }
}

@media (max-width: 900px) {
    *{
        font-size: 0.94em;
    }
}

@media (max-width: 700px){
    * {
        font-size: 0.9em;
    }
}

@media (max-width: 550px){
    * {
        font-size: 0.8em;
    }
}