root {
    --background-color: #252832;
}

body {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow: auto;
}


.grid {
    width: 1200px;
    height: 400px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--background-color);
    transition: 200ms;
}

.visited {
    transition-duration: 300ms;
    padding: 2px;
    background-color: #cb5fd27e;
}


.best-path {
    background-color: #fcd377;
    padding: 2px;
}

.wall {
    background-color: #6ba6de;
    padding: 2px;
}

.icon {
    color: white;
    cursor: grab;
}

.icon-active {
    color: #0820F7;
}



.grid-buttons-container {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#start-btn, #reset-btn {
    width: 50%;
}

.info {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: auto;
    margin: 10px 0;
    box-shadow: 0 3px 10px rgb(0, 0, 0) inset;
}

@media (max-width: 1250px) {
    .grid {
        width: 1080px;
        height: 360px;
    }
}

@media (max-width: 1150px){
    .grid {
        width: 960px;
        height: 320px;
    }

    .info {
        height: 40px;
    }
}

@media (max-width: 1000px){
    .grid {
        width: 900px;
        height: 300px;
    }
}

@media (max-width:  900px){
    .grid {
        width: 720px;
        height: 250px;
    }
    .cell {
        border: 0.5px solid white;
    }

    .grid-buttons-container {
        margin: 5px 0;
    }

    .info {
        margin: 5px 0;
        height: 35px;
    }
}

@media (max-width: 800px){
    .grid {
        width: 660px;
        height: 220px;
    }
    .icon {
        scale: 0.5;
    }
}

@media (max-width: 700px){
    .grid {
        width: 570px;
        height: 190px;
    }
    .icon {
        scale: 0.4;
    }
}

@media (max-width: 700px){
    .grid {
        width: 480px;
        height: 160px;
    }
}

@media (max-width: 550px){
    .grid {
        width: 360px;
        height: 120px;
    }

    .icon {
        scale: 0.3;
    }
}